<ion-header>
  <ion-navbar primary>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      {{group.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label item-left>Membres</ion-label>
        <ion-icon item-right name="add" *ngIf="isSuperAdmin" (click)="openGroupInvitationPage(group)"></ion-icon>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="areGroupUsersLoaded">
        <ion-item *ngFor="let groupUser of groupUsers">
          <ion-avatar item-left>
            <img src="{{groupUser.image}}">
          </ion-avatar>
          <h2>{{groupUser.name}}</h2>
          <p>{{groupUser.email}}</p>
          <ion-icon item-right name="star" *ngIf="groupUser.$key === group.super_admin"></ion-icon>
          <button item-right ion-button outline color="danger" *ngIf="currentUserId !== groupUser.$key && isSuperAdmin" (click)="removeMemberFromCurrentGroup(groupUser, group)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
      <ion-spinner name="crescent" *ngIf="!areGroupUsersLoaded"></ion-spinner>
    </ion-card-content>
  </ion-card>
  <button *ngIf="isSuperAdmin" full ion-button color="warning" (click)="changeGroupSuperAdmin()">Désigner un nouvel admin</button>
  <button full ion-button color="danger" (click)="leaveGroup()">Quitter le groupe</button>
</ion-content>
